/** Add css rules here for your application. */

BODY {
    color: #000000;
    font-family : Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

P {
    color: #000000;
    font-family : Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

TH {
    color: #000000;
    font-family : Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

TABLE {
	background-color:#DEDEDE;
	padding: 0px;
	width: 80%;
}

TD {
    color: #000000;
	background-color:#FFFFFF;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-size: 9pt;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  text-align: center;
}

